/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: whitesmoke;
  background-image: url("../public/assets/meshbg.png");
  background-position: right;
  min-width: 100vw;
  min-height: 100vh;
  font-family: "Inter", system-ui, -apple-system, sans-serif;
}
